/* components/LandingPage/LandingPage.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .app-bar {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .app-title {
    font-size: 2rem;
    color: #fff;
    margin-left: 10px;
  }
  
  .login-button,
  .signup-button {
    background-color: #ff4081;
    color: #fff;
    font-size: 1rem;
    margin-left: auto;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #d81b60;
  }
  
  .content-container {
    text-align: center;
    margin-top: 250px;
  }
  
  .main-heading {
    color: #333;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .sub-heading {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  