.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure form is above the video */
  background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent overlay for better readability */
}

.login-form form {
  width: 300px; /* Adjust form width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);/* Background color of the form */
  border-radius: 8px;
}

/* Additional styles for form elements */
